

html, body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}



h1 {
    color: rgb(5, 63, 44);
}

.main-content {
    display: flex;
    margin-top: 100px;
}

section {
    flex: 2;
    border: solid 1px blue;
}

.section-list{
    flex: 5;
    border: solid 10px grey;
}

.section-form {
    flex: 1;
    border: solid 10px gray;
}

.my-control{
    display: block;
    padding: 5px 20px;
    margin-bottom: 5px;
}

.my-control label{
    display: block;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.priority-icon{
    font-size: 30px;
    cursor: pointer;
}

#iPriority.far {
    color: blue;
}

#iPriority.fas{
    color: red;
}

.task {
    border: 1px solid grey;
    display: flex;
    margin-bottom: 12px;
    padding: 10px 20px;
    align-items: center;
    background-color: white;
    border-radius: 1px;
    cursor: pointer;
    position: relative;
}

.task i {
    flex: 1;
}

.task .info{
    flex: 6;
}

.task .info p{
    margin-bottom: 0;
}

.task .details {
    flex: 2;
}

.task .status{
    display: block;
}
.btn-info {
    border-radius: 12px;
    background-color:rgb(24, 207, 146);
}
.btn-save{
    border-radius: 12px;
    background-color: rgb(24, 207, 146);
}
